<div class="footer-background">
  <div class="contacts container">
    <h2><span class="footer-header">Contact</span></h2>
    <ul>
     <li class="email"> E-mail</li>
     <li class="github"> Github</li>
     <li class="linkedin"> LinkedIn</li>
    </ul>
    <%= image_tag "contact.svg", class: "contact-img" %>
  </div>
  
</div>