<div class="my-grid container">
  <div class="left-grid">
    <div class="left-grid-pic1">
      <%= image_tag "hicke.JPG", width: "370px" %>
    </div>
  </div>
  <div class="right-grid">
    <h2>My Story</h2>
    <div class="right-grid-p">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non inventore, nulla ratione quis modi maiores mollitia deserunt rem delectus accusamus nihil veritatis at officiis temporibus facere id voluptatem deleniti numquam culpa atque sequi consequatur. Harum iusto iste atque dolore laboriosam fuga rerum molestiae enim, ratione aliquid perferendis ipsum! Sed, consequuntur.</p>
    </div>
  </div>
</div>