<div class="my-grid container">
  <div class="left-grid">
    <div class="left-grid-pic1">
      <%= image_tag "hicke.JPG", width: "370px" %>
    </div>
  </div>
  <div class="right-grid">
    <h2>My Story</h2>
    <div class="right-grid-p">
      <p>More than 5 years ago I came to the Netherlands from Istanbul where I lived for almost 3 years. I come from Alepp, Syria. I left Aleppo after a month of the begining of the war there. <br>
      I worked the past 12 years in Hospitality industry within the most luxiours hotel brands such as Sheraton, W hotels and IHG chain. <br> Later in 2019 I made the decision to do a career switch to Web Development as I was fascinated by the systems and IT in general, so I started self styding from SEP 2019 alongside a full time job and then fulltime self studying since the begining of 2020 till mid July where I started the intensive coding bootcamp with Le Wagon, which I proudly completed end of SEP 2020 to become a fully qualified Full-Stack Developer.
       </p>
    </div>
  </div>
</div>
