<div class="my-grid container">
  <div class="left-grid">
    <div class="left-grid-pic1">
      <%= image_tag "hicke.JPG", width: "500px" %>
    </div>
  </div>
  <div class="right-grid">
    <h2>Title</h2>
    <div class="right-grid-p">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto consectetur accusantium non culpa fuga blanditiis suscipit ad corporis deserunt iusto!</p>
    </div>
  </div>
</div>