<div class="my-grid2 container">
  <div class="left-card">
    <h2>My Projects</h2>
    <h4>Moveable Feasts</h4>
    <div class="left-card-p">
     <p><span>Moveable Feasts</span> was my graduation project which aims to pair ex-pats, recently moved people, or immigrants with hosts for dinner parties. This app acts as a new social connector for hosts and guests to create frienships in more intimate settings.<br>This app was created on the base of the <span>MVC pattern</span> and the coding languages that are used are: <span>HTML5, SASS, JavaScript, Ruby as a backend language using Ruby on Rails framework and SQL for the Database using Active Record library. The maps used are from Mapbox, Cloudinary was used to save the uploaded images and of course the fonts used are from Google fonts</span></p>
    </div>
    <div>
    <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1", target: "_blank" %>
  </div>
  </div>
  <div class="right-grid-img">
    <div class="grid-img">
    <%= link_to "https://www.moveablefeasts.club/", target: "_blank" do %>
      <%= image_tag "MF.PNG", width: "370px", height: "450px" %>
    <% end %>
    </div>
  </div>
</div>