<div class="story-background">
<div class="my-grid container">
  <div class="story-img">
    <div class="grid-img">
      <%= image_tag "hicke.JPG", width: "370px" %>
    </div>
  </div>
  <div class="right-card">
    <h2>My Story</h2>
    <div class="right-card-p">
      <p>In 2015 I came to the Netherlands from Istanbul where I lived for almost 3 years. I was born and raised in <span class="story-strong">Aleppo, Syria</span>.<br>
      I worked for 12 years in the <span class="story-strong">Hospitality </span>industry within the most luxiours hotel brands such as <span class="story-strong">Sheraton, W hotels and IHG</span>. <br> In 2019 I made the decision to make a career switch to Web Development as I was fascinated by the systems and with IT in general. I started styding by myself from September 2019 alongside a full time job, which I continued through the course of 2020. In July 2020  I started the intensive coding bootcamp with <span><%= link_to "Le Wagon", "https://www.lewagon.com/", target: "_blank", class: "lewagon" %></span>, which I proudly completed end of September 2020. I am on the road to become a fully qualified <span class="story-strong">Full-Stack Developer</span>.
       </p>
    </div>
  </div>
</div>
</div>