<div class="challenge-background">
  <div class="container oopspage">
    <div class = "homepagelink">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  <%= image_tag "underconstruction.png", class: "ucpage" %>
  </div>
</div>