<div class="experience-background">
  <div class="container oopspage">
    <div class = "homepagelink">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
    <div class="oops-message">
      <h2>Oops....</h2>
      <h4>This page is still in progress!</h4>
    </div>
  </div>
</div>
