.projects-background {
  background-color: #D5DAEB;
  padding: 20px 0;
}

.story-background {
  background-color: #D5DAEB;
  padding: 20px 0; 
}

.projects-background2 {
  background-color: #423E3B;
  padding-bottom: 25px;
}

.footer-background {
  background: #423E3B;
  position: relative;
  color: #D5DAEB;
  padding-bottom: 30px;
}

.experience-background {
  background: #1e2b3a;
}

.challenge-background {
  background: #1e2b3a;
}