.projects-background {
  background-color: var(--dark);
  padding: 20px 0;
}

.story-background {
  background-color: var(--light);
  padding: 20px 0;
}

.projects-background2 {
  background-color: #dee3f6;
  padding-bottom: 25px;
}

.footer-background {
  background: var(--dark);
  position: relative;
  color: var(--light);
  padding-bottom: 30px;
}

.experience-background {
  background: #1e2b3a;
}

.challenge-background {
  background: #1e2b3a;
}

.skills-background {
  background-color: var(--light);
}