.homepage {
  text-align: center;
}

.homepage-banner {
  background-image:linear-gradient(135deg, rgba(0,0,0,0.1)0%, rgba(0,0,0,0.1)0%), url(https://res.cloudinary.com/dzvurrjbc/image/upload/v1600769468/man-standing-on-a-rock-1271619_eh8s6b.jpg);
  width: 100%;
  height: 90vh;
  
  background-size: cover;
}

.homepage-banner h1 {
  font-size: 100px;
  letter-spacing: 5px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  transition: 0.1s;
  padding-top: 20px;
  padding-bottom: 20px;
}

.essam {
  border-top: 5px solid black;
}

.dawood {
  border-bottom: 5px solid black;
}

.homepage-banner p {
  font-size: 16px;
  padding: 20px 0;
}