.homepage {
  text-align: center;
}

.banner-container {
  width: 768px;
  margin: 0 auto;
}

.homepage-banner {
  // background-image:linear-gradient(135deg, rgba(0,0,0,0.1)0%, rgba(0,0,0,0.1)0%), url(https://res.cloudinary.com/dzvurrjbc/image/upload/v1600769468/man-standing-on-a-rock-1271619_eh8s6b.jpg);
  background: linear-gradient(180deg, #6874E7 0%, #000000 100%), #6874E7;
  width: 100%;
  height: 90vh;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.homepage-banner h1 {
  font-size: 100px;
  letter-spacing: 5px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  transition: 0.1s;
  padding-top: 80px;
  padding-bottom: 20px;
  // color: #6874E7;
  z-index: 1;
}

.homepage-banner h3 {
  margin: 50px 0;
}

.essam {
  border-top: 5px solid black;
}

.dawood {
  border-bottom: 5px solid black;
}

.homepage-banner p {
  font-size: 16px;
  padding: 20px 0;
}

// .crosses img {
//   width: 50px;
  
// }

@media(max-width: 1100px) {
  .homepage-banner h1 {
    font-size: 80px;
  }
  .wrapper nav {
    width: 17.5%;
  }
}

@media(max-width: 768px) {
  .homepage-banner h1 {
    font-size: 70px;
  }
  .wrapper nav {
    width: 20.5%;
  }
}

@media(max-width: 720px) {
  .homepage-banner h1 {
    font-size: 60px;
  }
  .homepage-banner h3 {
    font-size: 15px;
  }
  .wrapper nav {
    width: 29.5%;
    font-size: 15px;
    height: calc(82vh - 3.4em);
  }
}

@media(max-width: 540px) {
  .homepage-banner h1 {
    font-size: 40px;
  }
  .homepage-banner h3 {
    font-size: 25px;
  }
  .wrapper nav {
    width: 34.5%;
  }
}

@media(max-width: 415px) {
  .wrapper nav {
    width: 105%;
    height: calc(81vh - 3.4em);
  }
  .wrapper {
    top: 58px;
  }
  #open {
    margin: 0;
  }
  
}
