.bttn{
  background: var(--primary);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: 0.1s;
  position: relative;
  overflow: initial;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: bold;
}

.bttn1::before {
  content: "";
  position: absolute;
  right: -3%;
  bottom: -20%;
  width: 106%;
  height: 140%;
  z-index: 10;
  transition: background-color 200ms ease 0s, opacity 0.01s ease 400ms, clip-path 400ms ease;
  clip-path: polygon(20% 0%, 100% 0%, 100% 53%, 80% 100%, 0 100%, 0 47%);
}

.bttn1:hover {
  text-decoration: none;
  border-radius: 0;
}

.btnmf {
  color: var(--light);
  &:hover {
    color: var(--light);
  }
}

.btnmf::before {
  border: 4px solid var(--light);
}

.btnbook {
  color: var(--dark);
  &:hover {
    color: var(--dark);
  }
}

.btnbook::before {
  border: 4px solid var(--dark);
}

.bttn1:hover:before {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0 100%, 0 100%);
}

.hexagon {
  padding-top: 20px;
  color: var(--primary);
  position: relative;
  border: 1px solid transparent;
  background-color: var(--black);
  padding: 20px;
  clip-path: polygon(0% 0%, 85% 0, 100% 30%, 100% 100%, 15% 100%, 0 70%);
  transition: clip-path 2s ease;
  overflow: initial;
  z-index: 2;
  &:hover {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    text-decoration: none;
    color: var(--primary);
  }
}

@media(max-width: 325px) {
  .bttn {
    padding: 10px 8px;
  }
  .btnbook {
    font-size: 14px;
  }
}

@media(max-width: 415px) {
  .btnbook {
    padding: 10px 8px;
  }
  .exclude {
    top: -146px;
    right: -3px;
  }
}