.right-card {
  padding-top: 15px;
  background-color: #6874E7;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 83%, 0 100%);
}

.right-card h2 {
  text-align: left;
  padding-left: 20px;
}

.lewagon {
  color: #fd1015;
  &:hover {
    text-decoration: none;
    color: #fd1015;
  }
}
.right-card-p {
  color: #F0FFF1;
  padding: 30px;
  background-color: #423E3B;
  border-top: 5px solid #F0FFF1;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
  word-spacing: 5px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.right-card-p::after, .right-card-p::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  background-color: #6874E7;
  bottom: -4rem;
  z-index: 100;
}

.right-card-p::before {
  right: 50%;
  transform: skew(0, -30deg);
}

.right-card-p::after {
  left: 50%;
  transform: skew(0, 30deg);
}

.left-card {
  padding-top: 15px;
}

.left-card h2 {
  padding-bottom: 10px;
}

.left-card-p {
  padding: 10px 20px;
  border: 2px solid black;
  text-align: left;
  margin-bottom: 30px;
  box-shadow: 0px 2px 13px -3px rgba(0,0,0,0.75);
  background-color: #eef7ee;
}

.left-card p {
  color: #696969;
}
.left-card h4 {
  text-align: left;
  padding-left: 20px;
}

.left-card-p span {
  color: black;
}