.right-card {
  padding-top: 15px;
  background-color: #6874E7;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 83%, 0 100%);
}

.right-card h2, .right-card h4 {
  text-align: left;
  padding-left: 20px;
}

.lewagon {
  color: #fd1015;
  &:hover {
    text-decoration: none;
    color: #fd1015;
  }
}

.right-card-p {
  color: #D5DAEB;
  padding: 40px;
  background-color: #423E3B;
  border-top: 5px solid  #D5DAEB;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-size: 14px;
}

.story-strong {
  font-weight: bold;
  color: #6874E7;
}

.right-card-p::after, .right-card-p::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  background-color: #6874E7;
  bottom: -4rem;
  z-index: 100;
}

.right-card-p::before {
  right: 50%;
  transform: skew(0, -30deg);
}

.right-card-p::after {
  left: 50%;
  transform: skew(0, 30deg);
}

.projects-background2 h2{
  text-align: center;
  color: #D5DAEB;
  padding: 30px 0;
  background-color: #373533;
  &::after {
  content: "\f542";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin: 10px;
  font-size: 26px;
}
}

.left-card {
  padding-top: 15px;
  position: relative;
  z-index: 100;
  color: #D5DAEB;
}

.left-card-link {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.icons i{
  font-size: 30px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #146eb0;
}

.fa-js {
  color: #f0db4f;
}

.left-card p {
  color: #D5DAEB;
  
}

.left-card h4 {
  text-align: left;
  padding-left: 20px;
}

.left-card-p {
  padding: 10px 40px;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  position: relative;
  word-spacing: 5px;
  letter-spacing: 1px;
  transform: translate3d(1.70424px, 19.7267px, 0px);
}

.left-card-p::before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border: 2px solid #6874E7;
  z-index: 10;
  width: 100%;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  animation-name: borderRotation;
  animation-fill-mode: backwards;
  animation-duration: 1800ms;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.left-card-p::after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border: 5px solid #423E3B;
  z-index: 10;
  width: 100%;
  color: rgb(122, 122, 122);
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  animation-name: borderAfter;
  animation-direction: normal;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
  animation-delay: 150ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes borderRotation {
  0% {
    clip-path:polygon(100% 0%, 100% 400%, 500% 0%, 0% -100%);
  }
  75% {
    border: 4px solid #6874E7;
  }
  100% {
    clip-path: polygon(0% 100%, 400% -500%, 0% 0%, -100% -100%);
    border: 4px solid #6874E7;
  }
}

@keyframes borderAfter {
  0% {
    clip-path:polygon(100% 0%, 100% 400%, 500% 0%, 0% -100%);
    
  }
  75% {
    border: 5px solid #423E3B;
  }
  100% {
    clip-path: polygon(0% 100%, 400% -500%, 0% 0%, -100% -100%);
    border: 6px solid #423E3B;
  }
}

.project-right-card {
  background-color: #423E3B;
  position: relative;
  border: none;
  
}
.project-right-card h4 {
  padding-top: 10px;
  padding-left: 10px;
}
.project-right-card2 {
  background-color: #6874E7;
  clip-path: polygon(0% 0%, 100% 0, 0% 300%);
  z-index: 10;
  height: 500px;
  z-index: 1;
  border-bottom-right-radius: 650px;
}
.project-right-card3 {
  background-color: #D5DAEB;
  clip-path: polygon(0 1%, 100% 0, 0% 150%);
  height: 500px;
  z-index: 1;
}

.project-right-card3 h4::after {
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin: 10px;
  font-size: 26px;
}
.project-right-card p {
  padding: 10px; 
  position: absolute;
  background-color: #D5DAEB;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 500px;
  position: relative;
}

@media(max-width: 520px) {
  .right-card-p {
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .left-card-p {
    padding-right: 20px;
  }
  .project-right-card {
    width: 375px;
  }
}
