.oopspage {
  height: 100vh;
  // background-color:#423E3B;
  padding: 0;
  text-align: center;
}

.ucpage {
 width: 90%;
 height: 90vh;
}
.homepagelink ul{
  padding: 20px 0 0 220px;
  text-align: left;
  font-weight: bold;
}

.homepagelink ul li {
  list-style: none;
}

.homepagelink ul li a {
  color: #bebfc1;
  &:hover {
    color: #bebfc1;
    text-decoration: none;
    opacity: 0.7;
  }
}
