.oopspage {
  height: 100vh;
  background-color:#423E3B;
  padding: 0;
}

.homepagelink ul{
  padding: 50px 0 0 50px;
}

.homepagelink ul li {
  list-style: none;
}

.oops-message {
  text-align: center;
}

.oops-message h2{
  font-size: 100px;
  text-align: left;
  padding: 50px 0 50px 50px;
}

.oops-message h4{
  font-size: 50px;
}
