.left-grid-img {
  border: 3px solid #27272c;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%);
}

.right-grid-img {
  border: 3px solid #27272c;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%, 0 100%);
}

.grid-img {
  margin: 10px auto;
  padding: 10px;
}