// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "logo";
@import "banner";
@import "buttons";
@import "cards";
@import "grid";
@import "images";
@import "backgrounds";
@import "footer";
@import "experience";
@import "skills";
@import "newcard";

body ul {
  margin: 0;
}

:root {
  --primary:#6874E7;
  --light: #D5DAEB;
  --light-dark: #3c3b42;
  --dark: #333337;
  --black: black;
  --gray: #c9cde0;
}