.skills {
  padding: 0;
}

.skills ul li{
  list-style: none;
  padding: 30px;
}

.skills ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

.skills img {
  width: 50px;
}

.skills h2 {
  text-align: center;
  padding-top: 30px;
}

.skills h2 span {
  border-bottom: 3px solid var(--black);
}